<div class="all_gifs">

  <% @categories.each do |category| %>
    <div class="name_and_gif">
      <div class='category_name' id=<%=category.name%>>
        <h2><%= link_to category.name.capitalize, category_path(category) %>
        <% if current_admin? %>
          (<%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, category_path(category), method: 'delete', title: 'Delete Category', class: 'trash' %>)
        <% end %></h2>
      </div>
      <div class= 'gif', id="img-<%=category.gifs.first.id%>">
         <img src=<%= category.gifs.first.image_path %>>
       </div>
     </div>
  <% end %>
</div>
