<% if current_user.admin? %>
  <%= form_tag admin_gifs_path do %>
    <%= label_tag :category %>
    <%= search_field_tag :category %>
    <%= submit_tag 'Generate Gif' %>
  <% end %>
<% end %>

<% @gifs.each do |gif| %>
<div id="img-<%=gif.id%>">
 <img src=<%= gif.image_path %> class='gif.image_path'>
 <%= link_to "<i class='far fa-heart'></i>".html_safe, root_path, title: 'Add to Favorites' %>
</div>
<% end %>
