<main class='show'>

<h1>All Tha Gifs!</h1>
  <% if current_admin? %>
    <div class='generate_category'>
      <%= form_tag admin_gifs_path do %>
      <div class='form_field'>
        <%= label_tag :category, 'Category' %>
        <%= search_field_tag :category, 'puppers' %>
      </div>
        <%= submit_tag 'Generate Gif', class:'button' %>
      <% end %>
    </div>
  <% end %>

    <% @categories.each do |category| %>
        <div class='category_name' id=<%=category.name%>>
          <h2><%= link_to category.name.capitalize, category_path(category) %>
          <% if current_admin? %>
            (<%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, category_path(category), method: 'delete', title: 'Delete Category', class: 'trash' %>)
          <% end %></h2>
        </div>

        <div class= 'all_gifs'>
          <div id="img-<%=category.gifs.first.id%>">
           <img src=<%= category.gifs.first.image_path %>>
          </div>
      </div>
    <% end %>

</main>
