<main class='show'>

  <section>
    <h1>Welcome, <%= current_user.username %>!</h1>
    <h3>Your favorite gifs:</h3>
  </section>

  <div class='all_gifs'>

    <% current_user.categories.each do |category| %>
    <h3><%= category.name %></h3>
    <% category.gifs.each do |gif| %>
      <% if current_user.gifs.include?(gif) %>
        <div id="img-<%=gif.id%>">
         <img src=<%= gif.image_path %>>
         <%= link_to "<i class='far fa-times-circle'></i>".html_safe, gif_path(gif), method: 'put', title: 'Remove from Favorites', class: 'x' %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  </div>

</main>
