<main class='show'>

  <section class='show_header'>
    <h1>Welcome, <%= current_user.username %>!</h1>
    <h2>Your favorite gifs:</h2>
  </section>


    <% current_user.categories.uniq.each do |category| %>
    <div class="category">
      <h3><%= category.name %></h3>
    </div>

    <div class='all_gifs'>
      <% category.gifs.each do |gif| %>
        <% if current_user.gifs.include?(gif) %>
          <div id="img-<%=gif.id%>">
           <img src=<%= gif.image_path %>>
           <%= link_to "<i class='far fa-times-circle'></i>".html_safe, gif_path(gif), method: 'put', title: 'Remove from Favorites', class: 'x' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>


</main>
