<main class='show'>

  <div class='@category_name' id=<%=@category.name%>>
    <h2><%= @category.name.capitalize %>
    <% if current_admin? %>
      (<%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, category_path(@category), method: 'delete', title: 'Delete Category', class: 'trash' %>)
    <% end %></h2>
</div>

  <%= render partial: 'gifs' %>

  <% if current_admin? %>
    Can't get enough??? <%= link_to 'Add another!', admin_gifs_path(category: @category.name), method: 'post' %>
  <% end %>

</main>
